# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env

# npm packages
# Made Heroku barf on proto.js
# http://stackoverflow.com/questions/12416194/error-cannot-find-module-proto-on-heroku
# node_modules

# Mac
.DS_Store

# Emacs
*~
